name: Create GitHub Release

on:
  push:
    tags:
      - 'v*.*.*' # Trigger on semantic versioning tags

jobs:
  release:
    name: Generate Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          draft: false
          prerelease: false
